/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-family: Georgia;
  color: #666666;
  font-size: 1em;
  line-height: 1.4;
  background: #e0e0e0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Start basic style */
.template {
  width: 1000px;
  margin: 0 auto;
}

.clear {
  overflow: hidden;
}
/* End basic style */

/* Start top bar */
.text-center {
  text-align: center;
}

.topbar {
  background: #2F2B29;
  height: 50px;
}

.topbar-left {
  width: 500px;
  float: left;
}

.topbar-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 15px;
}

.topbar-left ul li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}

.topbar-left ul li:last-child {
  border: none;
}

.topbar-left ul li a {
  display: block;
  color: #ddd;
  text-decoration: none;
}

.topbar-right {
  width: 400px;
  float: right;
}

.topbar-right i {
  color: #000;
  background: #ddd;
  float: right;
  font-size: 20px;
  margin: 5px 0 0 8px;
  padding-top: 10px;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  width: 40px;
}
/* End top bar */

/* Start header */
.header-section h1 {
  font-size: 100px;
  margin: 20px 0;
  text-transform: uppercase;
  color: #333;
}

.header-section h1 a {
  text-decoration: none;
  color: #333;
}

.header-section p {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  color: #4a4a4a;
}
/* End header */

/* Start main menu */
.main-menu {
  margin-top: 30px;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  border-top: 3px double #666;
  border-bottom: 3px double #666;
}

.main-menu ul li {
  float: left;
  display: block;
  padding: 5px;
  margin: 5px 20px 5px 5px;
}

.main-menu ul li a {
  float: left;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #444;
}

.main-menu ul li a:hover, #active {
  color: #999;
}
/* End main menu */

/* Start recent post section */
.recent-post {
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 3px double #999;
  padding: 15px 0;
}

.recent-post-left {
  float: left;
  width: 500px;
  margin-right: 20px;
}

.recent-post-right {
  float: right;
  width: 425px;
}

.recent-sidebar-post {
  margin-bottom: 20px;
}

.recent-sidebar-post img {
  float: left;
  margin-right: 10px;
  padding: 4px;
  border: 1px solid #999;
}

.recent-sidebar-post h3 {
  margin: 0;
}

.recent-sidebar-post p {
  font-size: 15px;
  margin-top: 5px;
}

.recent-post-left h3 a,.recent-post-right h3 a  {
  text-decoration: none;
  color: #444;
}

.recent-post-left h3 a:hover,.recent-post-right h3 a:hover  {
  text-decoration: none;
  color: #982115;
}
/* End recent post section */

/* Start main post section */
.main-post-section {
  border-bottom: 3px double #999;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.main-post {
  float: left;
}

.main-post-top {
  width: 640px;
}

.main-post-left,.main-post-right {
  width: 290px;
  float: left;
  margin-right: 30px;
}

.main-post-left h2,.main-post-right h2 {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.main-post-img {
  float: left;
  margin-right: 8px;
}

.main-post-img img {
  padding: 5px;
  border: 1px solid #999;
}

.main-post-content {
  margin-bottom: 25px;
}

.main-post-content h4 {
  margin: 0;
  color: #444;
}

.main-post-content p {
  margin: 0;
  font-size: 13px;
}

.main-post-content a {
  color: #982115;
  text-decoration: none;
  float: right;
  text-transform: uppercase;
  font-size: 14px;
}

.main-post-content a:hover {
  color: #666;
}

.main-post-bottom {
  width: 610px;
  margin-top: 20px;
  border-top: 3px double #999;
}

.main-post-bottom ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  margin-top: 20px;
}

.main-post-bottom ul li {
  float: left;
  display: block;
  margin-left: 15px;
}

.main-post-bottom ul li:first-child {
  margin-left: 0px;
}

.main-post-bottom ul li a {
  float: left;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 8px;
  color: #fff;
  background: #111;
  font-size: 14px;
}

.main-post-bottom ul li a:hover, #cat-active {
  color: #ddd;
}

.main-category-post {
  float: left;
  width: 140px;
  margin-left: 16px;
} 

.main-category-post:first-child {
  margin-left: 0px;
} 

.main-category-post h4 a {
  text-decoration: none;
  color: #982115;
}

.main-category-post img {
  padding: 4px;
  border: 1px solid #999;
}

.main-category-post p {
  margin-top: 20px;
}

.main-category-post p a {
  text-decoration: none;
  color: #982115;
}

.main-post-aside {
  width: 360px;
  float: left;
}

.main-post-aside-ad {
  float: left;
  margin-right: 5px;
}

.main-post-aside-ad h4 {
  border-top: 4px solid #999;
  padding-top: 5px;
  text-align: center;
  padding-top: 16px;
}

.main-post-aside-sidebar {
  float: right;
}

.main-post-aside-sidebar h4 {
  border-top: 4px solid #999;
  padding-top: 5px;
  text-align: center;
  padding-top: 16px;
}

.main-post-aside-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-post-aside-sidebar ul li {
  margin-bottom: 5px;
}

.main-post-aside-sidebar ul li a {
  color: #982115;
  text-decoration: none;
}

.main-post-aside-sidebar ul li a:hover {
  color: #666;
  text-decoration: none;
}
/* End main post section */

/* Start single post section */
.single-post-section {
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 3px double #999;
}

.single-post-content {
  float: left;
  width: 720px;
  padding-bottom: 60px;
}

.single-post-description img {
  border: 1px solid #999;
  float: left;
  height: 200px;
  margin-right: 20px;
  padding: 5px;
  width: 350px;
} 

.single-post-description p {
  font-size: 17px;
  line-height: 26px;
  margin-top: 0;
} 

.single-post-aside {
  margin-top: 30px;
} 

.single-post-sidebar {
  float: right;
  background: #d0d0d0;
  width: 250px;
  margin-left: 20px;
}

.single-post-sidebar h2 {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 10px;
  margin: 0;
}

.single-post-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
} 

.single-post-sidebar ul li {
  background: #e0e0e0 none repeat scroll 0 0;
  border: 1px solid #d0d0d0;
  padding: 9px 10px;
} 

.single-post-sidebar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #666;
} 

.single-post-sidebar ul li:hover {
  text-decoration: none;
  background: #fff;
} 

/* Start single post comment */
.comment {
  border: 1px solid #c5c5c5;
  padding: 6px 20px;
  font-size: 16px;
}

.comment h2 {
  margin: 0 0 20px;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}

input[type="text"] {
  background: #f0f0f0 none repeat scroll 0 0;
  border: 1px solid #c6c6c6;
  padding: 5px;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 20px;
}

input[type="email"] {
  background: #f0f0f0 none repeat scroll 0 0;
  border: 1px solid #c6c6c6;
  padding: 5px;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.comment textarea {
  background: #f0f0f0 none repeat scroll 0 0;
  border: 1px solid #c4c4c4;
  height: 130px;
  margin-left: 20px;
  padding: 5px;
  width: 300px;
}
.comment input[type="submit"] {
  font-size: 20px;
  margin: 20px;
  padding: 5px 20px;
}
/* End single post comment */
/* End single post section */

/* Start footer top */
.footer-top {
  border-bottom: 3px double #999;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.footer-top-content {
  width: 180px;
  margin-right: 20px;
  float: left;
}

.footer-top-content h4 {
  border-bottom: 1px solid #999;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 10px;
}

.footer-top-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-top-content ul li {
  margin-bottom: 5px;
}

.footer-top-content ul li a {
  color: #982216;
  text-decoration: none;
}

.footer-top-content ul li a:hover {
  color: #666;
}
/* End footer top */

/* Start footer bottom */
.footer-left {
  width:70%;
  float:left;
}

.footer-left p {
  float: left;
}

.footer-right {
  width:30%;
  float:right;
}

.footer-right p {
  float: right;
}
/* End footer bottom */
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}